---
import "../css/styles.css";
import favicon from "../img/syff-favicon.svg";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import Font from "../components/Font.astro";
---

<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <Font />

    <title>History of SYFF</title>
    <meta
      name="description"
      content="The Scottish Youth Film Foundation is a charity that aims to improve the life outcomes of young people in Scotland through film. We do this through our annual festival, through film education in schools, and through Outreach film projects that target young people who would not normally have an opportunity to make a film."
    />
    <meta
      property="og:description"
      content="The Scottish Youth Film Foundation is a charity that aims to improve the life outcomes of young people in Scotland through film. We do this through our annual festival, through film education in schools, and through Outreach film projects that target young people who would not normally have an opportunity to make a film."
    />
    <meta property="og:image" content="/img/syff-social-share.png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:alt" content="Scottish Youth Film Foundation" />
    <meta property="og:locale" content="en_GB" />
    <meta property="og:site_name" content="Scottish Youth Film Foundation" />
    <meta property="og:title" content="History of SYFF" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://syff.scot/history" />
    <link rel="canonical" href="https://syff.scot/history" />

    <link rel="icon" type="image/svg+xml" href={favicon} />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body id="top">
    <Navigation />

    <main id="content">
      <section class="container">
        <h1>History of SYFF</h1>

        <p>Formed as the Scottish Youth Film Festival in early 2015.</p>

        <p>
          2015 - Festival held in Armadale Academy<br />

          Best Film - Darth Vader at Home
        </p>

        <p>
          2016 - Festival held in Armadale Academy<br />

          Best Film - Samantha Glamorous
        </p>

        <p>
          2017 - Festival held in Moving Image Archive, Glasgow<br />

          Best Film - The Bear Necessity
        </p>

        <p>
          2018 - Festival held in Moving Image Archive, Glasgow<br />

          Best Film - James meet Isaac
        </p>

        <p>
          Also in 2018, we ran our first separate film competition, What
          Scotland Means to Me. Watch the entry montages and winning films here
        </p>

        <p>
          From 2019, rather than have only one best film, we decided to award
          Best Films for each age category.
        </p>

        <p>
          2019 - Festival held at Edinburgh Climate Change Institute<br />

          Best Films - Crime time (12 and Under), The Call (13-19)
        </p>

        <p>
          2020 - Festival broadcast online from Lyra in Craigmillar<br />

          Best Films - Scottish Whispers (12 and under) Stop/ Start (13-19)
        </p>

        <p>
          With the pandemic came lockdown and our Home film competition where we
          asked Scotland&rsquo;s young people to make a film with the theme of
          home.
        </p>

        <p>
          2021 - First hybrid festival from Edinburgh Climate Change Institute<br
          />

          Best Films - Scottish Bake Off (12 and Under), The Run Home (13-19)
        </p>

        <p>
          The year COP 26 came to Glasgow and SYFF ran the COP TV project. We
          also opened a film competition called Change and the shortlisted films
          were shown at a special event in the Science Centre as part of the
          Official Cop 26 programme.
        </p>

        <p>Link to film.</p>

        <p>
          2022 - Festival held at The Bridge, Dumfries<br />

          Best Films - Ready or Not (12 and Under), Strange Journey (13-19)
        </p>

        <p>
          Our second climate related film competition, Films for our Future was
          run and the winners were presented with prizes at the premiere of our
          COP26 documentary &lsquo;This is COPTV&rsquo;
        </p>
      </section>
    </main>

    <Footer />
  </body>
</html>
