---
import "../css/styles.css";
import favicon from "../img/syff-favicon.svg";
import sharing from "../img/syff-social-share.png";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import Swiper from "../components/Swiper.astro";
import VideoEmbed from "../components/VideoEmbed.astro";
import piechart from "../img/pie-chart.png";
---

<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&family=Poppins:wght@600;700&display=swap"
      rel="stylesheet"
    />

    <title>Scottish Youth Film Foundation</title>
    <meta
      name="description"
      content="The Scottish Youth Film Foundation is a charity that aims to improve the life outcomes of young people in Scotland through film. We do this through our annual festival, through film education in schools, and through Outreach film projects that target young people who would not normally have an opportunity to make a film."
    />
    <meta
      property="og:description"
      content="The Scottish Youth Film Foundation is a charity that aims to improve the life outcomes of young people in Scotland through film. We do this through our annual festival, through film education in schools, and through Outreach film projects that target young people who would not normally have an opportunity to make a film."
    />
    <meta property="og:image" content={sharing} />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:alt" content="Scottish Youth Film Foundation" />
    <meta property="og:locale" content="en_GB" />
    <meta property="og:site_name" content="Scottish Youth Film Foundation" />
    <meta property="og:title" content="Scottish Youth Film Foundation" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://syff.scot" />
    <link rel="canonical" href="https://syff.scot/" />

    <link rel="icon" type="image/svg+xml" href={favicon} />
    <meta name="generator" content={Astro.generator} />

    <script
      src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"
    ></script>
  </head>
  <body>
    <Navigation />

    <Swiper />

    <hgroup class="container">
      <h1>Improving the life outcomes of young Scots through film</h1>
      <p>
        Learning through film and learning using film allows young people to get
        to grips with the main form of communication in the 21st century. It
        unlocks the literacy of film and moving image allowing young people to
        understand how to interpret a film text. It’s the ABCs of visual
        storytelling. Learners are encouraged to discuss and interrogate
        different texts, such as adverts, clips, short films and features and to
        go on to produce their own work using this knowledge.
      </p>

      <p>
        All of our work in schools and during outreach projects allows this
        interaction. For young people who are interested in taking this further,
        we can offer pathways to further learning and directly to industry. Many
        of the young people we work with go on to pursue creative careers. Our
        work allows young people to safely explore these options with the
        support of SYFF.
      </p>

      <p>
        We are proud to be supported by The Sean Connery Foundation. The Sean
        Connery Foundation grant increases operational capacity, allowing SYFF
        to expand screen education efforts in three areas of focus: film
        education in schools, film outreach projects that reach students in need
        and the execution of their annual youth film festival.
      </p>
    </hgroup>

    <section class="container">
      <blockquote class="blockquote">
        “My dad’s career in the film industry happened by accident and changed
        the trajectory of his life. Discovering the crafts and trades of
        filmmaking, beyond acting and directing, should not be reserved only for
        the rich, well-connected or lucky ones. And, making and discerning
        screen-based storytelling is nothing short of a vital 21st-century
        skill. It builds creativity, agency and voice, project management skills
        and empathy, to name just a few. Supporting SYFF, and screen education
        more generally, as a focus of our foundation is an exciting and natural
        expression of my father’s legacy that we hope will help to prepare the
        young Scottish people for the future that lies ahead,”
        <span>SYFF Patron Jason Connery</span>
      </blockquote>
    </section>

    <section class="container">
      <h2>
        We are a film charity - so why just read about us when you can watch a
        film?
      </h2>

      <div class="grid">
        <VideoEmbed videoId="787998256" />

        <VideoEmbed videoId="787999434" />
      </div>
    </section>

    <section class="container">
      <h2>What Do We Do?</h2>
      <div class="grid">
        <div>
          <img
            src="https://placehold.co/600x400"
            width="600"
            height="400"
            alt="placholder"
          />
          <h3>Festival</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
            luctus posuere eros sed semper. Nulla nec dolor in elit tincidunt
            pellentesque quis id massa. Praesent tincidunt dapibus elementum.
          </p>
          <a href="/festival/" class="btn">Learn More</a>
        </div>
        <div>
          <img
            src="https://placehold.co/600x400"
            width="600"
            height="400"
            alt="placholder"
          />
          <h3>Outreach</h3>
          <p>
            Nulla euismod molestie elit a porta. In hac habitasse platea
            dictumst. Class aptent taciti sociosqu ad litora torquent per
            conubia nostra, per inceptos himenaeos.
          </p>
          <a href="/outreach/" class="btn">Learn More</a>
        </div>
        <div>
          <img
            src="https://placehold.co/600x400"
            width="600"
            height="400"
            alt="placholder"
          />
          <h3>Education</h3>
          <p>
            Aliquam fermentum faucibus arcu, et ornare nisi. Phasellus nec
            egestas velit. Mauris fringilla nulla ipsum, et pellentesque sem
            cursus quis. Ad litora torquent per conubia nostra.
          </p>
          <a href="/education/" class="btn">Learn More</a>
        </div>
      </div>
    </section>

    <section
      class="container"
      style="background-color: var(--color-grey); --container-padding: 3rem;"
    >
      <div class="stats">
        <div>
          <h2>Impact</h2>
          <p>
            Vestibulum ultricies metus ut ligula vestibulum, a dictum nisl
            elementum. Donec sed mauris in nisi efficitur placerat a ac massa.
            Fusce consectetur justo fermentum mauris mattis aliquam non vel
            odio. Mauris ultricies erat ut arcu ornare, ac efficitur urna
            maximus. Pellentesque in nibh id neque dictum tincidunt.
          </p>
        </div>
        <div>
          <img src={piechart} />
        </div>
      </div>
    </section>

    <section class="container">
      <h2 class="text-center">Testimonials</h2>
      <div class="grid testimonials">
        <div>
          <img
            src="https://placehold.co/400x400"
            width="400"
            height="400"
            alt="placholder"
          />
          <h3>Elsa Giles</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
            luctus posuere eros sed semper. Nulla nec dolor in elit tincidunt
            pellentesque quis id massa. Praesent tincidunt dapibus elementum.
          </p>
        </div>
        <div>
          <img
            src="https://placehold.co/400x400"
            width="400"
            height="400"
            alt="placholder"
          />
          <h3>Yasmin Downs</h3>
          <p>
            Nulla euismod molestie elit a porta. In hac habitasse platea
            dictumst. Class aptent taciti sociosqu ad litora torquent per
            conubia nostra, per inceptos himenaeos.
          </p>
        </div>
        <div>
          <img
            src="https://placehold.co/400x400"
            width="400"
            height="400"
            alt="placholder"
          />
          <h3>Isaac Harrison</h3>
          <p>
            Aliquam fermentum faucibus arcu, et ornare nisi. Phasellus nec
            egestas velit. Mauris fringilla nulla ipsum, et pellentesque sem
            cursus quis.
          </p>
        </div>
        <div>
          <img
            src="https://placehold.co/400x400"
            width="400"
            height="400"
            alt="placholder"
          />
          <h3>Tim Roth</h3>
          <p>
            Aliquam fermentum faucibus arcu, et ornare nisi. Phasellus nec
            egestas velit. Mauris fringilla nulla ipsum, et pellentesque sem
            cursus quis.
          </p>
        </div>
      </div>
    </section>

    <Footer />
  </body>
</html>
