---
import "../css/styles.css";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import Font from "../components/Font.astro";
---

<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <Font />

    <title>Our Board</title>
    <meta
      name="description"
      content="The Scottish Youth Film Foundation is a charity that aims to improve the life outcomes of young people in Scotland through film. We do this through our annual festival, through film education in schools, and through Outreach film projects that target young people who would not normally have an opportunity to make a film."
    />
    <meta
      property="og:description"
      content="The Scottish Youth Film Foundation is a charity that aims to improve the life outcomes of young people in Scotland through film. We do this through our annual festival, through film education in schools, and through Outreach film projects that target young people who would not normally have an opportunity to make a film."
    />
    <meta property="og:image" content="/img/syff-social-share.png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:alt" content="Scottish Youth Film Foundation" />
    <meta property="og:locale" content="en_GB" />
    <meta property="og:site_name" content="Scottish Youth Film Foundation" />
    <meta property="og:title" content="Our Board" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://syff.scot/our-board" />
    <link rel="canonical" href="https://syff.scot/our-board" />

    <link rel="icon" type="image/svg+xml" href="/img/syff-favicon.svg" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body id="top">
    <Navigation />

    <main id="content">
      <hgroup class="container intro">
        <h1 class="headline">Our Board</h1>
        <p class="lede">Some intro blurb</p>
      </hgroup>

      <section class="container">
        <div class="patron">
          <div class="patron-pic">
            <img
              class="elastic"
              src="/img/steven-riley.jpg"
              alt="Steven Riley"
            />
          </div>
          <div class="patron-text">
            <h2>Steven Riley</h2>
            <p>
              Steve is a project and programme management professional, with
              over 20 years’ experience in delivering large, complex initiatives
              for clients in IT, construction, aviation and defence. Steve is
              married, lives in Midlothian and enjoys photography, playing
              guitar and learning from his 10 year old how little he knows about
              Minecraft. Or how to operate the TV.
            </p>
          </div>
        </div>

        <div class="patron patron-reverse">
          <div class="patron-pic">
            <img
              class="elastic"
              src="/img/raisah-ahmed.jpg"
              alt="Raisah Ahmed"
            />
          </div>
          <div class="patron-text">
            <h2>Raisah Ahmed</h2>
            <p>
              Raisah is a Scottish Asian Muslim Writer/Director, based in
              Glasgow, currently working across television and film. She has
              been shortlisted for the Sundance Screenwriters Lab twice - in
              2015 with Meet Me By The Water and in 2018 with Safar which is
              currently in development with Producer Zorana Piggott. She is in
              development with Zorana Piggott on a WW1 feature, Half-Moon Camp,
              for Film 4. Her writing credits include CBeebies shows Feeling
              Better, Molly & Mack and Control a BBC The Social phone drama and
              Aden’s Journey a short drama about a refugee unaccompanied minor
              for the Celcis course ‘Caring for Children on the Move’. Alumni of
              the EIFF Talent Lab 2014, Raisah had her first commissioned short
              as writer/director Meet Me By The Water premiere at EIFF 2016, it
              went on to be programmed by BBC Scotland’s ‘Next Big Thing’
              programme. She directed one of BBC 3’s The Break III, 2018, was a
              shadowing director on CBeebies Molly & Mack S2 and most recently
              directed on CBBC’s ‘Sparks’.
            </p>
          </div>
        </div>

        <div class="patron">
          <div class="patron-pic">
            <img class="elastic" src="/img/bill-boyd.jpg" alt="Bill Boyd" />
          </div>
          <div class="patron-text">
            <h2>Bill Boyd</h2>
            <p>
              Bill is a former English teacher and literacy consultant, during
              which time he was always an advocate for Moving Image Education
              and using film in the classroom to develop literacy skills. He is
              a volunteer guide at the Robert Burns Birthplace Museum in
              Alloway, a lover of the outdoors and a champion of Scottish life
              and culture.
            </p>
          </div>
        </div>
      </section>
    </main>

    <Footer />
  </body>
</html>
