---
import "../css/styles.css";
import favicon from "../img/syff-favicon.svg";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import Font from "../components/Font.astro";
---

<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <Font />

    <title>Our Staff</title>
    <meta
      name="description"
      content="The Scottish Youth Film Foundation is a charity that aims to improve the life outcomes of young people in Scotland through film. We do this through our annual festival, through film education in schools, and through Outreach film projects that target young people who would not normally have an opportunity to make a film."
    />
    <meta
      property="og:description"
      content="The Scottish Youth Film Foundation is a charity that aims to improve the life outcomes of young people in Scotland through film. We do this through our annual festival, through film education in schools, and through Outreach film projects that target young people who would not normally have an opportunity to make a film."
    />
    <meta property="og:image" content="/img/syff-social-share.png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:alt" content="Scottish Youth Film Foundation" />
    <meta property="og:locale" content="en_GB" />
    <meta property="og:site_name" content="Scottish Youth Film Foundation" />
    <meta property="og:title" content="Our Staff" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://syff.scot/our-staff" />
    <link rel="canonical" href="https://syff.scot/our-staff" />

    <link rel="icon" type="image/svg+xml" href={favicon} />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body id="top">
    <Navigation />

    <main id="content">
      <section class="container">
        <h1 class="headline">Our Staff</h1>
        <p class="lede">Some intro blurb</p>
        <br />

        <div class="patron">
          <div class="patron-pic">
            <img class="shadow" src="../img/dave.jpg" alt="David Barras" />
          </div>
          <div class="patron-text">
            <h2>David Barras</h2>
            <h3>Co-Founder/Executive Director</h3>
            <p>
              I was born and brought up in Armadale, West Lothian and have been
              involved in education and media production since 1993. Film was a
              big part of my childhood but it seemed outwith the grasp of anyone
              coming from West Lothian. I&rsquo;ve now been making and teaching
              about film for over 30 years and have been lucky enough to make
              music videos, documentaries, shorts and a feature. Film is a great
              way to teach important life skills and and being able to analyse
              film is vital for everybody.
            </p>
          </div>
        </div>

        <div class="patron">
          <div class="patron-pic">
            <img class="shadow" src="../img/scott.jpg" alt="Scott Mackay" />
          </div>
          <div class="patron-text">
            <h2>Scott Mackay</h2>
            <h3>Co-Founder/Executive Director</h3>
            <p>
              I too grew up in Armadale and always, always, always wanted to
              tell stories. It started with the old school Dungeons and Dragons
              for my pals (including David) and I was hooked on making words
              come alive ever since that time. But no one, not even our parents
              ever encouraged us to follow that as a career. I am also addicted
              to talking - I'll start a monologue for my fellow passengers at a
              bus stop - and so I even enjoy the meetings and all the other
              things we have to do but they don't compare to being with young
              people and exploring their story, watching it come alive in their
              minds before we even get a camera out.
            </p>
          </div>
        </div>

        <div class="patron">
          <div class="patron-pic">
            <img class="shadow" src="../img/heather.jpg" alt="Heather Bowery" />
          </div>
          <div class="patron-text">
            <h2>Heather Bowery</h2>
            <h3>General Manager</h3>
            <p>
              Making films is something I have been doing since I was a
              teenager. Film is such a rich and diverse art form that offers a
              whole world of skillsets and practices in which people can play
              and explore. Initially, my route into film was through a love of
              acting and I eventually found myself producing commercial video
              projects in Canada before moving back to bonnie Scotland and
              joining the team at SYFF. I find so much enjoyment in exploring
              this great wide world of filmmaking and hope to encourage young
              people to do the same to find their passion, their voice, learn
              new skills… and make new friends and have loads of fun along the
              way!
            </p>
          </div>
        </div>
      </section>
    </main>

    <Footer />
  </body>
</html>
