---
import "../css/styles.css";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import Font from "../components/Font.astro";
import VimeoEmbed from "../components/VimeoEmbed.astro";
import SwiperSlides from "../components/SwiperSlides.astro";
---

<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <Font />

    <title>Outreach Projects</title>
    <meta
      name="description"
      content="The Scottish Youth Film Foundation is a charity that aims to improve the life outcomes of young people in Scotland through film. We do this through our annual festival, through film education in schools, and through Outreach film projects that target young people who would not normally have an opportunity to make a film."
    />
    <meta
      property="og:description"
      content="The Scottish Youth Film Foundation is a charity that aims to improve the life outcomes of young people in Scotland through film. We do this through our annual festival, through film education in schools, and through Outreach film projects that target young people who would not normally have an opportunity to make a film."
    />
    <meta property="og:image" content="/img/syff-social-share.png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:alt" content="Scottish Youth Film Foundation" />
    <meta property="og:locale" content="en_GB" />
    <meta property="og:site_name" content="Scottish Youth Film Foundation" />
    <meta property="og:title" content="Outreach Projects" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://syff.scot/outreach" />
    <link rel="canonical" href="https://syff.scot/outreach" />

    <link rel="icon" type="image/svg+xml" href="/img/syff-favicon.svg" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body id="top">
    <Navigation />

    <main id="content">
      <section class="container intro">
        <h1 class="headline">Outreach Projects</h1>

        <p class="lede">
          Outreach projects are where we work intensely with a group of young
          people to produce a short film.
        </p>

        <p>
          Each Outreach project is different but in general we will visit the
          group to run an Input day, where we look at films, analyse what makes
          them work and talk about story and script. We&rsquo;ll then give some
          time for a script to be written and come back to work with the group
          over the course of several days to produce and shoot their film. All
          of the roles are taken by the young people, with SYFF tutors on hand
          to guide the production. Once complete we have a celebratory screening
          in the local community and each outreach film will go on to be shown
          at our Festival.
        </p>

        <p>
          Since inception, we have produced over 20 Outreach films with groups
          from across Scotland and covering, drama and documentary.
        </p>

        <p>
          Our outreach work is targeted specifically at young people who would
          not normally get the chance to engage in creative film making
          activity.
        </p>
      </section>

      <section class="container intro bg-light-grey">
        <VimeoEmbed videoId="508044958" />
      </section>

      <section class="container intro">
        <h2 class="text-center">Praise For Our Projects</h2>
        <SwiperSlides>
          <div class="swiper-slide">
            <blockquote class="small-quote">
              <p>
                “I loved the shooting days, because what we wrote became a
                reality.”
                <span>- Young person, Falkirk</span>
              </p>
            </blockquote>
          </div>

          <div class="swiper-slide">
            <blockquote class="small-quote">
              <p>
                “It just brought us all together. You kind of forget all the bad
                stuff outside of this.”
                <span>- Young person, Inverclyde</span>
              </p>
            </blockquote>
          </div>

          <div class="swiper-slide">
            <blockquote class="small-quote">
              <p>
                “It&rsquo;s been really inspiring. The ideas they have came up
                with are fantastic. Way beyond what we would have expected. It
                blew our socks off”
                <span>- Youth Worker, Inverclyde</span>
              </p>
            </blockquote>
          </div>

          <div class="swiper-slide">
            <blockquote class="small-quote">
              <p>
                “There&rsquo;s been a really great balance of hard work and fun.
                That&rsquo;s been managed fantastically.”
                <span>- Youth Worker, Inverclyde</span>
              </p>
            </blockquote>
          </div>

          <div class="swiper-slide">
            <blockquote class="small-quote">
              <p>
                “Making a film was a privilege, it&rsquo;s not something that
                happens everyday. Some of us would never have gotten the
                opportunity to do this and you&rsquo;ve gave us that chance”
                <span>- Young person, Livingston</span>
              </p>
            </blockquote>
          </div>

          <div class="swiper-slide">
            <blockquote class="small-quote">
              <p>
                “My favourite thing has been seeing the young people taking on
                different parts in the film process, from acting, to doing
                sound, to doing camera and seeing how they&rsquo;ve developed
                over the week of the shoot.”
                <span>- Youth Support Worker, East Renfrewshire</span>
              </p>
            </blockquote>
          </div>
        </SwiperSlides>
      </section>
    </main>

    <Footer />
  </body>
</html>
