---
import "../css/styles.css";
import favicon from "../img/syff-favicon.svg";
import sharing from "../img/syff-social-share.png";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import Font from "../components/Font.astro";
---

<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <Font />

    <title>Patrons</title>
    <meta
      name="description"
      content="The Scottish Youth Film Foundation is a charity that aims to improve the life outcomes of young people in Scotland through film. We do this through our annual festival, through film education in schools, and through Outreach film projects that target young people who would not normally have an opportunity to make a film."
    />
    <meta
      property="og:description"
      content="The Scottish Youth Film Foundation is a charity that aims to improve the life outcomes of young people in Scotland through film. We do this through our annual festival, through film education in schools, and through Outreach film projects that target young people who would not normally have an opportunity to make a film."
    />
    <meta property="og:image" content={sharing} />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image:alt" content="Scottish Youth Film Foundation" />
    <meta property="og:locale" content="en_GB" />
    <meta property="og:site_name" content="Scottish Youth Film Foundation" />
    <meta property="og:title" content="Patrons" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://syff.scot/patrons" />
    <link rel="canonical" href="https://syff.scot/patrons" />

    <link rel="icon" type="image/svg+xml" href={favicon} />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body id="top">
    <Navigation />

    <main id="content">
      <section class="container">
        <h1>Patrons</h1>
      </section>
    </main>

    <Footer />
  </body>
</html>
