---
import logo from "../img/syff-logo.svg";
import sprites from "../img/syff-sprites.svg";
---

<nav role="navigation" aria-label="main navigation">
  <a href="/"
    ><img
      src={logo}
      width="160"
      height="64"
      alt="Scottish Youth Film Foundation"
    /></a
  >
  <ul class="navigation-list">
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/news/">News</a>
    </li>
    <li class="has-dropdown">
      <a href="#"
        >Who We Are <svg class="icon">
          <use xlink:href={`${sprites}#down-arrow`}></use>
        </svg></a
      >
      <ul>
        <li>
          <a href="/history/">History of SYFF</a>
        </li>
        <li>
          <a href="/story-of-syff/">Story of SYFF</a>
        </li>
        <li>
          <a href="/our-staff/">Our Staff</a>
        </li>
        <li>
          <a href="/our-board/">Our Board</a>
        </li>
        <li>
          <a href="/our-patrons/">Our Patrons</a>
        </li>
      </ul>
    </li>
    <li class="has-dropdown">
      <a href="#"
        >What We Do <svg class="icon">
          <use xlink:href={`${sprites}#down-arrow`}></use>
        </svg></a
      >
      <ul>
        <li>
          <a href="/festival/">Festival</a>
        </li>
        <li>
          <a href="/outreach/">Outreach</a>
        </li>
        <li>
          <a href="/education/">Education</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="/into-the-industry/">Into The Industry</a>
    </li>
    <li>
      <a href="/contact/">Contact</a>
    </li>
  </ul>
  <div class="hamburger">
    <a href="#">
      <svg class="icon">
        <use xlink:href={`${sprites}#hamburger`}></use>
      </svg>
      MENU
    </a>
  </div>
</nav>

<style>
  nav {
    --container-padding: 0;
    padding-inline: max(
      var(--container-edge),
      calc(50% - var(--container-width) / 2)
    );
    padding-block: var(--container-padding);
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 1rem rgba(0 0 0 / 30%);
    position: relative;
    z-index: 10;
    border-top: 3px solid var(--color-primary);
  }

  nav img {
    height: auto;
    max-width: 10rem;
  }

  nav > ul {
    background-color: var(--color-charcoal);
    bottom: 0;
    box-sizing: border-box;
    color: white;
    right: 0;
    padding: 0 2rem 2rem;
    position: fixed;
    top: 0;
    transform: translate(100%);
    transition: transform var(--transition-time);
    width: 50%;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  nav > ul.is-open {
    transform: translate(0);
  }

  nav li {
    display: block;
    text-align: center;
    position: relative;
  }

  nav li a,
  .hamburger a {
    color: var(--color-white);
    display: block;
    padding: 2.25rem 1.25rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    font-size: 0.875rem;
    position: relative;
    background-color: transparent;
    white-space: nowrap;
    position: relative;
    z-index: 1;
  }

  nav li a:focus-within,
  nav li a:hover {
    color: var(--color-white);
    background-color: var(--color-primary);
    outline: 0;
  }

  nav li a:focus-within::after,
  nav li a:hover::after {
    background: transparent;
  }

  nav ul ul li a:focus-within,
  nav ul ul li a:hover {
    color: var(--color-white);
    background-color: var(--color-teal);
    outline: 0;
  }

  .hamburger a {
    color: var(--color-ink);
  }

  .hamburger svg {
    width: 2.5rem;
    height: 2.25rem;
    vertical-align: middle;
    top: -1px;
    position: relative;
    color: var(--color-ink);
  }

  .has-dropdown {
    position: relative;
  }

  .has-dropdown svg {
    height: 0.61255rem;
    width: 0.75rem;
    margin-left: 0.25rem;
  }

  .has-dropdown ul {
    position: absolute;
    display: none;
    box-shadow: 0 0 1rem rgba(0 0 0 / 30%);
    padding: 0;
  }

  .has-dropdown li {
    background: var(--color-white);
  }

  .has-dropdown li::after {
    background: transparent;
  }

  .has-dropdown li a {
    padding: 1.25rem 1.25rem;
  }

  .has-dropdown:focus ul,
  .has-dropdown:focus-within ul,
  .has-dropdown ul:focus,
  .has-dropdown ul:focus-within {
    display: block;
  }

  @media screen and (min-width: 1100px) {
    .hamburger {
      display: none;
    }
    nav > ul {
      background-color: transparent;
      flex-direction: row;
      transform: none;
      position: static;
      width: auto;
    }
    nav li::after {
      content: "";
      background: var(--color-grey);
      display: block;
      position: absolute;
      width: 1px;
      height: 2rem;
      right: 0;
      top: 1.75rem;
      z-index: 0;
    }
    nav li:last-of-type::after {
      background: transparent;
    }
    nav li a {
      color: var(--color-ink);
    }
  }
</style>

<script>
  setCurrentPage("nav a");

  function setCurrentPage(els) {
    const path = window.location.href;
    const links = document.querySelectorAll(els);
    links.forEach((link) => {
      if (link.href == path) {
        link.setAttribute("aria-current", "page");
      }
    });
  }

  const dropdowns = document.querySelectorAll(".has-dropdown > a");
  dropdowns.forEach((link) => {
    link.addEventListener("click", dropdownClick, false);
  });

  function dropdownClick(event) {
    event.preventDefault();
    console.log("dropdown clicked");
  }

  const navToggle = document.querySelector(".hamburger");
  const navList = document.querySelector(".navigation-list");
  navToggle.addEventListener("click", () => {
    navList.classList.toggle("is-open");
  });
</script>
