---
import logo from "../img/syff-logo.svg";
import sprites from "../img/syff-sprites.svg";
---

<nav>
  <a href="/"
    ><img
      src={logo}
      width="160"
      height="64"
      alt="Scottish Youth Film Foundation"
    /></a
  >
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/news/">News</a>
    </li>
    <li class="dropdown">
      <a href="javascript:;"
        >Who We Are <svg class="icon">
          <use xlink:href={`${sprites}#down-arrow`}></use>
        </svg></a
      >
      <ul>
        <li>
          <a href="/history/">History of SYFF</a>
        </li>
        <li>
          <a href="/story/">Story of SYFF</a>
        </li>
        <li>
          <a href="/staff/">Staff</a>
        </li>
        <li>
          <a href="/board/">Board</a>
        </li>
        <li>
          <a href="/patrons/">Patrons</a>
        </li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="javascript:;"
        >What We Do <svg class="icon">
          <use xlink:href={`${sprites}#down-arrow`}></use>
        </svg></a
      >
      <ul>
        <li>
          <a href="/festival/">Festival</a>
        </li>
        <li>
          <a href="/outreach/">Outreach</a>
        </li>
        <li>
          <a href="/education/">Education</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="/into-the-industry/">Into The Industry</a>
    </li>
    <li>
      <a href="/contact/">Contact</a>
    </li>
  </ul>
</nav>

<style>
  nav {
    --container-padding: 0;
    padding-inline: max(
      var(--container-edge),
      calc(50% - var(--container-width) / 2)
    );
    padding-block: var(--container-padding);
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 1rem rgba(0 0 0 / 30%);
    position: relative;
    z-index: 10;
  }

  nav img {
    height: auto;
    max-width: 10rem;
  }

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  nav li {
    display: block;
    text-align: center;
    position: relative;
  }

  nav li a {
    color: var(--color-ink);
    display: block;
    padding: 2.25rem 1.25rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    font-size: 0.875rem;
    position: relative;
    transition: color var(--transition-time) ease,
      background-color var(--transition-time) ease;
    background-color: transparent;
    white-space: nowrap;
    position: relative;
    z-index: 1;
  }

  nav li::after {
    content: "";
    background: var(--color-grey);
    display: block;
    position: absolute;
    width: 1px;
    height: 2rem;
    right: 0;
    top: 1.75rem;
    z-index: 0;
  }

  nav li:last-of-type::after {
    background: transparent;
  }

  nav li a:focus-within,
  nav li a:hover {
    color: var(--color-white);
    background-color: var(--color-primary);
    outline: 0;
  }

  nav li a:focus-within::after,
  nav li a:hover::after {
    background: transparent;
  }

  .dropdown {
    position: relative;
  }

  .dropdown svg {
    height: 0.61255rem;
    width: 0.75rem;
    margin-left: 0.25rem;
  }

  .dropdown ul {
    position: absolute;
    display: none;
    box-shadow: 0 0 1rem rgba(0 0 0 / 30%);
    padding: 0;
  }

  .dropdown li {
    background: var(--color-white);
  }

  .dropdown li::after {
    background: transparent;
  }

  .dropdown li a {
    padding: 1.25rem 1.25rem;
  }

  .dropdown:focus-within ul,
  .dropdown ul:focus-within {
    display: block;
  }
</style>

<script>
  setCurrentPage("nav a");

  function setCurrentPage(els) {
    const path = window.location.href;
    const links = document.querySelectorAll(els);
    links.forEach((link) => {
      if (link.href == path) {
        link.setAttribute("aria-current", "page");
      }
    });
  }
</script>
