---
import slide01 from "../img/slide-01.jpg";
import slide02 from "../img/slide-02.jpg";
import slide03 from "../img/slide-03.jpg";
import slide04 from "../img/slide-04.jpg";
---

<section class="container swiper">
  <swiper-container>
    <swiper-slide>
      <img src={slide01} width="1920" height="720" alt="slide" />
    </swiper-slide>
    <swiper-slide>
      <img src={slide02} width="1920" height="720" alt="slide" />
    </swiper-slide>
    <swiper-slide>
      <img src={slide03} width="1920" height="720" alt="slide" />
    </swiper-slide>
    <swiper-slide>
      <img src={slide04} width="1920" height="720" alt="slide" />
    </swiper-slide>
  </swiper-container>
</section>

<style>
  .swiper {
    --container-margin: 0;
  }
</style>
