:root {
  --width-l: 90rem;
  --width-m: 56rem;
  --width-s: 30rem;

  --grid-gap: 3rem;
  --grid-size: 22rem;

  --text-gap: 2em;

  --container-width: var(--width-l);
  --container-edge: 3rem;
  --container-padding: 4rem;

  --color-ink: #1b203e;
  --color-light-grey: #f7f8f9;
  --color-grey: #dbdcd7;
  --color-teal: #399;
  --color-lime: #99CC33;
  --color-white: #fff;
  --color-dark-blue: #092e48;
  --color-primary: #8a2be2;
  --color-primary-dark: #7324bd;
  --color-charcoal: #1d1d2c;

  --color-scf-green: #102617;
  --color-scf-purple: #331a5c;
  --color-scf-black: #000000;

  --transition-time: 220ms;
  --hover-opacity: 0.8;

  --font-body: 'Lato', sans-serif;
  --font-headings: 'Poppins', sans-serif;
  --font-system: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;

  --font-scale-xs: clamp(0.64rem, calc(0.58rem + 0.28vw), 0.80rem);
  --font-scale-s: clamp(0.80rem, calc(0.73rem + 0.35vw), 1.00rem);
  --font-scale-n: clamp(1.00rem, calc(0.91rem + 0.43vw), 1.25rem);
  --font-scale-m: clamp(1.25rem, calc(1.14rem + 0.54vw), 1.56rem);
  --font-scale-l: clamp(1.56rem, calc(1.43rem + 0.68vw), 1.95rem);
  --font-scale-xl: clamp(1.95rem, calc(1.78rem + 0.85vw), 2.44rem);
  --font-scale-xxl: clamp(2.44rem, calc(2.23rem + 1.06vw), 3.05rem);
  --font-scale-xxxl: clamp(3.05rem, calc(2.79rem + 1.33vw), 3.82rem);
}

html {
  height: 100%;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

/* :focus:not(:focus-visible) {
  outline: none;
} */

*:focus-visible {
  outline: 3px solid var(--color-primary);
  outline-offset: 2px;
}

body {
  color: var(--color-ink);
  font-family: var(--font-body);
  font-weight: 400;
  margin: 0;
  min-height: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: var(--font-scale-n);
}


h1,
h2,
h3 {
  font-family: var(--font-headings);
  font-weight: 700;
  margin: 0.75em 0;
  line-height: 1.25;
  text-wrap: balance;
  letter-spacing: -0.025em;
}

h4 {
  font-family: var(--font-body);
  font-weight: 700;
}

h1 {
  font-size: var(--font-scale-xl);
}

h2 {
  font-size: var(--font-scale-l);
}

h3 {
  font-size: var(--font-scale-m);
}

p {
  margin: 0 0 1em;
}

p:last-child {
  margin: 0;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
p:first-child {
  margin-top: 0;
}

main {
  margin-bottom: 3rem;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  padding-inline: max(var(--container-edge), calc(50% - var(--container-width)/2));
  padding-block: var(--container-padding);
  margin: 0;
}

.shadow {
  box-shadow:
    0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075);
  margin-bottom: 1.5rem;
}

.figure {
  margin: 1.5rem 0 1.25rem;
}

.figure figcaption {
  font-size: 0.75rem;
  text-align: right;
}

.hero {
  --container-padding: 0;
}

.hero img {
  object-fit: cover;
  object-position: top;
  aspect-ratio: 16 / 9;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: block;
}

.headline {
  background-image: linear-gradient(90deg, rgba(138, 43, 226, 1) 0%, rgba(51, 153, 153, 1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.narrow {
  --container-width: var(--width-m);
}

.lede {
  font-weight: bold;
}

.video {
  max-width: 100%;
}

.text-center {
  text-align: center;
}

.quote {
  --gradient-angle: -45deg;
  --container-width: var(--width-m);
  background: var(--color-teal);
  background: linear-gradient(var(--gradient-angle), hsla(180, 50%, 40%, 1) 0%, hsla(180, 50%, 26%, 1) 100%);
  background: -moz-linear-gradient(var(--gradient-angle), hsla(180, 50%, 40%, 1) 0%, hsla(180, 50%, 26%, 1) 100%);
  background: -webkit-linear-gradient(var(--gradient-angle), hsla(180, 50%, 40%, 1) 0%, hsla(180, 50%, 26%, 1) 100%);
}

.quote blockquote {
  margin: 0 0 1rem;
  font-style: italic;
  color: var(--color-white);
  border-left: 0.5rem solid var(--color-lime);
  position: relative;
  padding-left: 5rem;
}

.quote p {
  line-height: 1.625;
  font-weight: 700;
}

.quote blockquote::before {
  font-family: Arial;
  content: "\201C";
  color: var(--color-lime);
  font-size: 8rem;
  position: absolute;
  left: 0.5rem;
  top: -2rem;
}

.quote figcaption {
  color: var(--color-lime);
  font-style: normal;
  font-weight: bold;
  text-align: right;
  font-size: 1.125rem;
}

.small-quote {
  margin: 0;
  padding: 1rem 1rem 1rem 3rem;
  position: relative;
  display: grid;
  grid-template-columns: 4rem 1fr;
}

.small-quote p {
  margin-left: 1rem;
}

.small-quote span {
  display: block;
  text-align: right;
  font-weight: bold;
  margin-top: 0.5rem;
}

.small-quote::before {
  aspect-ratio: 1;
  background-color: var(--color-teal);
  border-radius: 100%;
  color: var(--color-lime);
  content: "\201C";
  display: inline-block;
  font-family: Arial;
  font-size: 4rem;
  line-height: 1;
  place-items: center;
  width: 4rem;
  display: grid;
  place-items: center;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  border-radius: 3px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: var(--font-system);
  font-weight: 500;
  color: #fff;
  background-color: var(--color-primary);
  text-align: center;
  transition: background-color var(--transition-time);
  font-size: 0.875rem;
  font-size: var(--font-scale-s);
  letter-spacing: 0.5px;
  margin: 1em 0;
}

.btn:hover {
  background-color: var(--color-primary-dark);
}

.grid {
  display: grid;
  gap: var(--grid-gap);
  grid-template-columns: repeat(auto-fit, minmax(min(var(--grid-size), 100%), 1fr));
}

.grid.links img {
  margin-bottom: 1.5rem;
}

.stats {
  font-size: 1.25rem;
  text-align: center;
  font-weight: 600;

}

.stats span {
  background: var(--color-lime);
  color: var(--color-white);
  border-radius: 50%;
  width: 4.25rem;
  aspect-ratio: 1;
  text-align: center;
  display: grid;
  place-items: center;
  margin: 0 auto 1rem;
  box-shadow:
    0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075);
  font-weight: 600;
}

.bg-light-grey {
  background-color: var(--color-light-grey);
}

.testimonials {
  --grid-size: 14rem;
}

.testimonials>div {
  padding: 1rem;
}

.testimonials img {
  border-radius: 50%;
}

.testimonials h3 {
  text-align: center;
}

.patron {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  max-width: 84rem;
  margin: 0 auto 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.patron>div {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 2rem;
}

.patron-text h2 {
  margin-top: 0;
}

.patron-pic {
  text-align: right;
}

.patron-pic img {
  margin-left: auto;
}

@media screen and (min-width: 900px) {
  .patron {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

.scf {
  text-align: center;
}

.scf img {
  max-width: 20rem;
}

.year-wrap {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding-block: 2rem;
}

.year-wrap h3 {
  margin-top: 1.25rem;
}

.year {
  aspect-ratio: 1;
  background: var(--color-teal);
  border-radius: 50%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .075), 0 2px 2px rgba(0, 0, 0, .075), 0 4px 4px rgba(0, 0, 0, .075), 0 8px 8px rgba(0, 0, 0, .075);
  color: var(--color-white);
  display: grid;
  margin: 0 2rem 0 auto;
  place-items: center;
  width: 4.25rem;
  font-weight: bold;
}