:root {
  --container-width: 90rem;
  --container-edge: 3rem;
  --container-padding: 0;
  --container-margin: 6rem;

  --grid-gap: 3rem;
  --grid-size: 22rem;

  --color-ink: #1b203e;
  --color-light-grey: #f7f8f9;
  --color-grey: #dbdcd7;
  --color-teal: #399;
  --color-white: #fff;
  --color-dark-blue: #092e48;
  --color-primary: #8a2be2;
  --color-primary-dark: #7324bd;

  --transition-time: 220ms;

  --font-system: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
}

html {
  height: 100%;
}

body {
  color: var(--color-ink);
  font-family: 'Lato', sans-serif;
  margin: 0;
  min-height: 100%;
  line-height: 1.625;
}

h1,
h2,
h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  padding: var(--container-padding) max(var(--container-edge), calc(50% - var(--container-width)/2));
  margin: var(--container-margin) 0;
}

.text-center {
  text-align: center;
}

hgroup p {
  font-size: 1.125rem;
}

.blockquote {
  font-size: 1.4em;
  width: 60%;
  margin: 50px auto;
  font-style: italic;
  color: #555555;
  padding: 1.2em 30px 1.2em 75px;
  border-left: 8px solid var(--color-primary);
  line-height: 1.6;
  position: relative;
  background: #EDEDED;
}

.blockquote::before {
  font-family: Arial;
  content: "\201C";
  color: var(--color-primary);
  font-size: 4em;
  position: absolute;
  left: 10px;
  top: -10px;
}

.blockquote::after {
  content: '';
}

.blockquote span {
  display: block;
  color: #333333;
  font-style: normal;
  font-weight: bold;
  margin-top: 1em;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: var(--font-system);
  font-weight: 500;
  color: #fff;
  background-color: var(--color-primary);
  text-align: center;
  transition: background-color var(--transition-time);
  font-size: 0.875rem;
  letter-spacing: 0.5px;
}

.btn:hover {
  background-color: var(--color-primary-dark);
}

@media screen and (max-width:30em) {
  .btn {
    display: block;
    margin: 0.2em auto;
  }
}

.grid {
  display: grid;
  gap: var(--grid-gap);
  grid-template-columns: repeat(auto-fill, minmax(min(var(--grid-size), 100%), 1fr));
}

.stats {
  display: flex;
  align-items: center;
}

.stats>* {
  flex: 1;
}

.stats>*:nth-child(1) {
  padding: 2rem 2rem 2rem 0;
  flex: 2;
}

.stats>*:nth-child(2) {
  flex: 1;
}

.testimonials {
  --grid-size: 14rem;
}

.testimonials>div {
  padding: 1rem;
}

.testimonials img {
  border-radius: 50%;
}

.testimonials h3 {
  text-align: center;
}