:root {
  --width-l: 90rem;
  --width-m: 80ch;
  --width-s: 30rem;

  --grid-gap: 3rem;
  --grid-size: 22rem;

  --text-gap: 2em;

  --container-width: var(--width-l);
  --container-edge: 3rem;
  --container-padding: 5rem;

  --color-ink: #1b203e;
  --color-light-grey: #f7f8f9;
  --color-grey: #dbdcd7;
  --color-teal: #399;
  --color-lime: #99CC33;
  --color-white: #fff;
  --color-dark-blue: #092e48;
  --color-dark-blue: #1d2952;
  --color-primary: #8a2be2;
  --color-primary-dark: #7324bd;
  --color-charcoal: #1d1d2c;

  --color-scf-green: #102617;
  --color-scf-purple: #331a5c;
  --color-scf-black: #000000;

  --transition-time: 220ms;
  --hover-opacity: 0.8;

  --font-system: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
}

html {
  height: 100%;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

/* :focus:not(:focus-visible) {
  outline: none;
} */

*:focus-visible {
  outline: 3px solid var(--color-primary);
  outline-offset: 2px;
}

body {
  color: var(--color-ink);
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  margin: 0;
  min-height: 100%;
  line-height: 1.5;
}

@media screen and (min-width: 600px) {
  body {
    font-size: 1.125rem;
  }
}

h1,
h2,
h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  margin: 0 0 1em;
  line-height: 1.25;
  text-wrap: balance;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

p {
  margin: 0 0 1em;
}

p:last-child {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  padding-inline: max(var(--container-edge), calc(50% - var(--container-width)/2));
  padding-block: var(--container-padding);
  margin: 0;
}

.hero {
  --container-padding: 0;
}

.hero img {
  object-fit: cover;
  object-position: bottom;
  max-height: 94vh;
  width: 100%;
}

.headline {
  background-image: linear-gradient(90deg, rgba(138, 43, 226, 1) 0%, rgba(51, 153, 153, 1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.lede {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.quote {
  background: var(--color-teal);
  --container-width: var(--width-m);
  --container-padding: 6rem;
}

.quote blockquote {
  margin: 0 0 1rem;
  font-style: italic;
  color: var(--color-white);
  border-left: 0.5rem solid var(--color-lime);
  position: relative;
  padding-left: 5rem;
}

.quote p {
  line-height: 1.625;
  font-weight: 700;
}

.quote blockquote::before {
  font-family: Arial;
  content: "\201C";
  color: var(--color-lime);
  font-size: 8rem;
  position: absolute;
  left: 0.5rem;
  top: -2rem;
}

.quote figcaption {
  color: var(--color-lime);
  font-style: normal;
  font-weight: bold;
  text-align: right;
  font-size: 1.125rem;
}

.small-quote {
  margin: 0;
  padding: 1rem 1rem 1rem 3rem;
  position: relative;
  display: grid;
  grid-template-columns: 4rem 1fr;
}

.small-quote p {
  margin-left: 1rem;
}

.small-quote span {
  display: block;
  text-align: left;
  font-weight: bold;
}

.small-quote::before {
  aspect-ratio: 1;
  background-color: var(--color-teal);
  border-radius: 100%;
  color: var(--color-lime);
  content: "\201C";
  display: inline-block;
  font-family: Arial;
  font-size: 4rem;
  line-height: 1;
  place-items: center;
  width: 4rem;
  display: grid;
  place-items: center;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: var(--font-system);
  font-weight: 500;
  color: #fff;
  background-color: var(--color-primary);
  text-align: center;
  transition: background-color var(--transition-time);
  font-size: 0.875rem;
  letter-spacing: 0.5px;
}

.btn:hover {
  background-color: var(--color-primary-dark);
}

@media screen and (max-width:30em) {
  .btn {
    display: block;
    margin: 0.2em auto;
  }
}

.grid {
  display: grid;
  gap: var(--grid-gap);
  grid-template-columns: repeat(auto-fit, minmax(min(var(--grid-size), 100%), 1fr));
}

.grid.links img {
  margin-bottom: 1.5rem;
}

.stats {
  font-size: 1.25rem;
  text-align: center;
}

.stats span {
  background: var(--color-lime);
  color: var(--color-white);
  border-radius: 50%;
  width: 4.25rem;
  aspect-ratio: 1;
  text-align: center;
  display: grid;
  place-items: center;
  margin: 0 auto 1rem;
  ;
}

.testimonials {
  --grid-size: 14rem;
}

.testimonials>div {
  padding: 1rem;
}

.testimonials img {
  border-radius: 50%;
}

.testimonials h3 {
  text-align: center;
}

.patron {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  max-width: 84rem;
  margin: 0 auto 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.patron>div {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 2rem;
}

.patron-text h2 {
  margin-top: 0;
}

.patron-pic {
  margin: 0 auto;
}

.patron-pic img {
  margin-left: auto;
}

@media screen and (min-width: 900px) {
  .patron {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

.scf img {
  max-width: 20rem;
  margin: 0 auto;
}